<div class="container">
    <h2 class="text-xl font-bold mb-6 text-indigo-600"> <span class="font-bold">Register</span></h2>
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="userName" class="block text-sm font-medium mb-1">User Name</label>
            <input id="userName" type="text" placeholder="jillapavi@9043" formControlName="userName"
                class="w-full border border-gray-300 rounded-md p-2" autofocus />
            <p *ngIf="forgetForm.get('userName')?.touched && forgetForm.get('userName')?.errors?.required"
                class="text-red-500 text-xs">Role is required</p>
        </div>
        <div class="mb-2">
            <label for="userRole" class="block text-sm font-medium mb-1">User Role</label>
            <select id="userRole" formControlName="userRole" class="w-full border border-gray-300 rounded-md p-2">
                <option></option>
                <option value="1">General User</option>
                <option value="2">Admin</option>
            </select>
            <p *ngIf="forgetForm.get('userRole')?.touched && forgetForm.get('userRole')?.errors?.required"
                class="text-red-500 text-xs">Role is required</p>
        </div>
        <div class="mb-2">
            <label for="password" class="block text-sm font-medium mb-1">Password</label>
            <input id="password" type="password" placeholder="********" formControlName="password"
                class="w-full border border-gray-300 rounded-md p-2" />
            <p *ngIf="forgetForm.get('password')?.touched && forgetForm.get('password')?.invalid"
                class="text-red-500 text-xs">Password must be at least 6 characters</p>
        </div>
        <div class="mb-2">
            <label for="confirmPass" class="block text-sm font-medium mb-1">Confirm Password</label>
            <input id="confirmPass" type="password" placeholder="********" formControlName="confirmPass"
                class="w-full border border-gray-300 rounded-md p-2" />
            <p *ngIf="forgetForm.errors?.mismatch && forgetForm.get('confirmPass')?.touched"
                class="text-red-500 text-xs">Passwords do not match</p>
        </div>
        <div class="flex justify-between items-center mb-6 text-sm text-gray-500">
            <span class="flex items-center gap-2">
            </span>
            <button class="text-indigo-600 hover:underline" (click)="navigateToLogin()">I am already member </button>
        </div>

        <button type="submit"
            class="mt-6 w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition">
            Singup
        </button>
    </form>
</div>
